body {
    color: yellow;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
article {
    color:  yellow;
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
    margin: 20px;
    padding: 20px;
    background-color: black';
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-color: yellow;
    
}
h1 {
    color: #f4e508;
    font-size: 2em;
    text-align: center;
}
h2 {
    color: #f1ee08;
    font-size: 1.5em;
}
p {
    color: #333;
    font-size: 1em;
}